@darkColor: #0C1618;
@lightColor: #FAF4D3; 

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @darkColor;
    color: @lightColor;
    padding: 10px 0;
    h1 {
        text-align: center;
        text-transform: uppercase; 
    }
    img {
        width: 50px;
        margin-right: 10px;
    }
}